main{
  margin: 5%;
  height: 100%;
  display: flex;
  background-color: white;
  min-width: 500px;
}

.canvas{
  border: 1px solid black;
  min-height: 500px;
}

.canvas-figures{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  z-index: 1;
  background-color: inherit;
}

main .canvas-figures div{
  margin: 20px auto 0px auto;
}

.canvas-area{
  width: 90%;
  display: flex;
}
main .canvas-area div{
    position: sticky;
}

.circle{
    background-color: rgb(105, 105, 204);
    border-radius: 50%;
}

.figure{
    height: 40px;
    width: 40px;
}

.canvas-area .figure{
    position: sticky;
}

.visible{
    display: block;
}
.invisible{
    display: none;
}

.figure:active{
    border: 1px solid black;
}

.block{
    background-color: rgb(105, 204, 122);
}